<footer class="bg-secondary py-1 fixed-bottom">
    <div class="row text-light text-center">
        <div class="col">
            <p class="fs-5 py-0 my-0">Contacto:&nbsp;<a href= "mailto:conacto@tics.pro" class="text-decoration-none text-light text-decoration-underline">contacto@tics.pro</a></p>
        </div>
    </div>
    <div class="row text-light text-center">
        <div class="col">
            <p class="fs-5 py-0 my-0"><a href= "https://candies.dev" class="text-decoration-none text-decoration-underline text-light">candies.dev</a></p>
        </div>
    </div>
</footer>